body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 55px;
}
h2{
    font-size: 30px;
    background-image: repeating-linear-gradient(rgb(230, 173, 222), violet);
    text-align: center;
    border-radius: 10px;

}

.top-header{
    color: black;
    background-image: repeating-linear-gradient(rgb(230, 173, 222), violet);
    text-align: center;
    border-radius: 10px;
}
.h3-header{
    color: black;
    border-radius: 10px;
   
}
.h3-header1{
    color:black;
    
    border-radius: 10px;
}
h4{
    color:orange;
}
p{
    color: dimgray;
}
.name{
    color: rgb(202, 76, 125);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 550px;
}
.link-button{
    text-decoration: none;
    background-image: repeating-linear-gradient(lightblue, violet);
    padding: 8px 15px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-left: 200px;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;

}
h5{
    font-size: 30px;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    height: 70%;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    

}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, rgb(125, 201, 226));
    border-image-slice: 1;

}
footer{
    font-size: 10px;
    text-align: center;
}