* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0px auto;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  overflow: hidden;
}
.price-blink-toolbar.golden {
  background-color: #fac100;
}
.price-blink-toolbar.golden .dropdown-list-top {
  border-bottom: 4px solid #fac100;
}
.price-blink-toolbar.golden .dropdown-list-top .dropdown-list-top-triangle {
  border-color: transparent transparent #fac100 transparent;
}
.price-blink-toolbar.golden #toolbarRight,
.price-blink-toolbar.golden #toolbarLeft {
  background-color: #fac100;
}
.price-blink-toolbar.golden #toolbarRight .toolbar-right-icon,
.price-blink-toolbar.golden #toolbarLeft .toolbar-right-icon {
  color: #505050;
  border-left: 1px solid #eab502;
}
.price-blink-toolbar.golden #toolbarRight .toolbar-right-icon:hover,
.price-blink-toolbar.golden #toolbarLeft .toolbar-right-icon:hover {
  color: #fff;
}
.price-blink-toolbar.golden #toolbarCenter .toolbar-btn {
  background-color: #505050;
  border-color: #505050;
}
.price-blink-toolbar.golden #toolbarCenter .toolbar-btn-text {
  color: #fff;
}
.price-blink-toolbar.golden #toolbarCenter .toolbar-btn-icon {
  color: #fff;
}
.price-blink-toolbar.golden #toolbarCenter .toolbar-results-count {
  color: #505050;
  background-color: #fff;
}
.price-blink-toolbar.golden #toolbarCenter .toolbar-vertical-center {
  color: #000;
}
.price-blink-toolbar.golden #toolbarCenter .coupon-list-icon {
  color: #fac100;
}
.price-blink-toolbar.golden #toolbarCenter .reviews-count,
.price-blink-toolbar.golden #toolbarCenter .reviews-star-icon {
  color: #fac100;
}
.price-blink-toolbar.golden #toolbarCenter .reviews-count {
  position: relative;
  top: 2px;
  padding-left: 15px;
}
.price-blink-toolbar {
  text-align: center;
  background-color: #505050;
  height: 36px;
}
.price-blink-toolbar li {
  list-style: none;
}
.price-blink-toolbar a {
  text-decoration: none;
  color: #000;
}
.price-blink-toolbar .right {
  float: right;
}
.price-blink-toolbar .relative {
  position: relative;
}
.price-blink-toolbar .left {
  float: left;
}
.price-blink-toolbar .inline-block {
  display: inline-block;
  vertical-align: top;
}
.price-blink-toolbar .flex {
  display: flex;
}
.price-blink-toolbar .vertical-center {
  display: flex;
  align-items: center;
}
.price-blink-toolbar .pointer {
  cursor: pointer;
}
.price-blink-toolbar .no-border-bottom {
  border-bottom: none !important;
}
.price-blink-toolbar .hidden {
  display: none;
}
.price-blink-toolbar .relative {
  position: relative;
  z-index: 2;
}
.price-blink-toolbar .overflow-y-auto {
  overflow-y: auto !important;
}
.price-blink-toolbar .noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}
.price-blink-toolbar .dropdown-list {
  min-width: 480px;
  position: absolute;
  right: 0;
  display: none;
  border-bottom: 1px solid #e1e1e1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: left;
}
.price-blink-toolbar .dropdown-list-nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.price-blink-toolbar .dropdown-list-top {
  height: 21px;
  position: relative;
  border-bottom: 4px solid #505050;
  background-color: transparent;
}
.price-blink-toolbar .dropdown-list-top .dropdown-list-top-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15.5px 14px;
  border-color: transparent transparent #505050 transparent;
  position: absolute;
  right: 15px;
  float: right;
  bottom: -2px;
  z-index: 2;
}
.price-blink-toolbar .triangle-left.dropdown-list {
  left: 0;
  right: initial;
}
.price-blink-toolbar .triangle-left.dropdown-list .dropdown-list-top-triangle {
  left: 15px;
  float: left;
}
.price-blink-toolbar .dropdown-results-list {
  max-height: 320px;
  overflow: hidden;
}
.price-blink-toolbar .dropdown-list-item {
  height: 80px;
  border-top: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  background-color: #fff;
  overflow: hidden;
}
.price-blink-toolbar .dropdown-list-item > a {
  display: flex;
}
.price-blink-toolbar .dropdown-list-item:hover {
  background-color: #efefef;
}
.price-blink-toolbar .dropdown-list-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.price-blink-toolbar #comparePriceDropdown {
  border-bottom: none;
}
.price-blink-toolbar #compare-prices-content.narrower {
  width: 96%;
  margin: 0 auto;
}
.price-blink-toolbar .dropdown-list-item-link {
  padding: 15px;
}
.price-blink-toolbar .dropdown-results-list .dropdown-list-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.price-blink-toolbar #fullScreenOverlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.price-blink-toolbar #toolbar {
  display: flex;
  justify-content: space-between;
}
.price-blink-toolbar #toolbarLeft {
  height: 36px;
  flex: 0 0 120px;
  padding: 1px 10px;
  line-height: 44px;
  background-color: #505050;
}
.price-blink-toolbar #toolbarLeft .toolbar-left-img {
  max-height: 32px;
  max-width: 100px;
}
.price-blink-toolbar #toolbarLeft .toolbar-left-img.price-blink-logo {
  position: relative;
  top: 2px;
}
.price-blink-toolbar #toolbarCenter {
  display: flex;
  flex: 1 1;
  justify-content: center;
}
.price-blink-toolbar #toolbarCenter .toolbar-vertical-center {
  line-height: 36px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
}
.price-blink-toolbar #toolbarCenter #message {
  padding: 0 10px;
}
.price-blink-toolbar #toolbarCenter .toolbar-attention {
  color: #fff !important;
}
.price-blink-toolbar #toolbarCenter #toolbarBtns {
  display: flex;
  justify-content: space-between;
  height: 36px;
}
.price-blink-toolbar #toolbarCenter .toolbar-btn {
  margin-top: 4px;
  margin-right: 5px;
  padding: 0 5px 0 10px;
  display: none;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 15px;
  height: 28px;
  cursor: pointer;
}
.price-blink-toolbar #toolbarCenter .toolbar-btn-text {
  color: #505050;
  font-size: 12px;
  line-height: 27px;
}
.price-blink-toolbar #toolbarCenter .toolbar-btn-icon {
  color: #505050;
}
.price-blink-toolbar #toolbarCenter .toolbar-btn-loyalty {
  font-size: 20px;
}
.price-blink-toolbar #toolbarCenter .list-top-img {
  margin-top: 30px;
}
.price-blink-toolbar #toolbarCenter #couponsDropdown .dropdown-results-list {
  max-height: 280px;
}
.price-blink-toolbar #toolbarCenter #reviewsDropdown .dropdown-results-list {
  overflow-y: auto;
}
.price-blink-toolbar #toolbarCenter #reviewsDropdown .dropdown-list-item-link {
  padding: 30px 15px;
}
.price-blink-toolbar #toolbarCenter #reviewsBtn .dropdown-results-list .dropdown-list-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.price-blink-toolbar #toolbarCenter #reviewsDropdown .dropdown-list-item {
  min-width: 0;
}
.price-blink-toolbar #toolbarCenter .toolbar-results-count {
  margin-top: 4px;
  padding: 3px;
  min-width: 17px;
  font-size: 10px;
  border-radius: 50%;
  color: #fff;
  background-color: #505050;
  border-radius: 5px;
  font-style: normal;
}
.price-blink-toolbar #toolbarCenter #comparePriceDropdown .dropdown-list-item-link {
  height: 80px;
  padding: 15px 0;
  justify-content: space-between;
}
.price-blink-toolbar #toolbarCenter #comparePriceDropdown.dropdown-list.two-columns {
  min-width: 420px;
}
#comparePriceDropdown .dropdown-results-list .dropdown-list-item .price-blink-toolbar #toolbarCenter > a {
  justify-content: space-between;
}
.price-blink-toolbar #toolbarCenter #comparePriceDropdown .dropdown-list-link.dropdown-list-item:last-child {
  border-bottom: 1px solid #e1e1e1;
}
.price-blink-toolbar #toolbarCenter #compare-prices-headers {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  background: white;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}
.price-blink-toolbar #toolbarCenter #compare-prices-header-logo {
  flex: 0 0 200px;
  padding-left: 15px;
}
.price-blink-toolbar #toolbarCenter #compare-prices-header-base-price {
  flex: 1;
}
.price-blink-toolbar #toolbarCenter #compare-prices-header-total-price {
  flex: 0 0 100px;
}
.price-blink-toolbar #toolbarCenter .dropdown-logo-image {
  max-width: 150px;
  max-height: 65px;
}
.price-blink-toolbar #toolbarCenter .dropdown-list-see-more {
  background-color: #efefef;
  padding: 13px 0;
  color: #666;
  cursor: pointer;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  text-align: center;
}
.price-blink-toolbar #toolbarCenter .dropdown-list-retailer {
  flex: 0 0 200px;
  padding-left: 15px;
}
.price-blink-toolbar #toolbarCenter .dropdown-list-retailer-name {
  font-size: 15px;
}
.price-blink-toolbar #toolbarCenter .dropdown-list-base-price {
  flex: 1;
  padding: 5px 0 5px;
}
.price-blink-toolbar #toolbarCenter .dropdown-list-total-price {
  flex: 0 0 100px;
  padding: 5px 0 5px;
}
.price-blink-toolbar #toolbarCenter .dropdown-list-2-columns-price {
  flex: 0 0 200px;
  padding: 5px 0 5px;
}
.price-blink-toolbar #toolbarCenter .dropdown-list-base-price.width-auto {
  width: auto;
}
.price-blink-toolbar #toolbarCenter .dropdown-list-price-shipping {
  margin-top: 3px;
  font-size: 11px;
  color: grey;
}
.price-blink-toolbar #toolbarCenter .dropdown-list-price-free {
  color: green;
}
.price-blink-toolbar #toolbarCenter .dropdown-list-link.narrower {
  width: 96%;
  margin: 0 auto;
}
.price-blink-toolbar #toolbarCenter .dropdown-list-link.dropdown-list-item {
  font-size: .9em;
  height: auto;
  border-bottom: none;
}
.price-blink-toolbar #toolbarCenter .dropdown-list-item.dropdown-list-link .coupon-list-icon {
  top: 0;
}
.price-blink-toolbar #toolbarCenter .dropdown-list-link.dropdown-list-item.first {
  border-top: 1px solid #e1e1e1;
}
.price-blink-toolbar #toolbarCenter .dropdown-list-link-icon {
  color: #999 !important;
}
.price-blink-toolbar #toolbarCenter .dropdown-list-link-text {
  margin-left: 10px;
  line-height: 21px;
}
.price-blink-toolbar #toolbarCenter .dropdown-list-link .coupon-item-link {
  padding: 10px 15px;
}
.price-blink-toolbar #toolbarCenter .star-level {
  margin-top: 17px;
  font-size: 0;
}
.price-blink-toolbar #toolbarCenter .reviews-count {
  font-size: 12px;
  color: #505050;
  white-space: nowrap;
  flex: 1;
}
.price-blink-toolbar #toolbarCenter .dropdown-list-stars {
  white-space: nowrap;
  flex: 1;
}
.price-blink-toolbar #toolbarCenter .reviews-retailer {
  padding-left: 15px;
  font-size: 15px;
  white-space: nowrap;
  flex: 1;
}
.price-blink-toolbar #toolbarCenter .reviews-star-icon {
  font-size: 18px;
  color: #505050;
}
.price-blink-toolbar #toolbarCenter .dropdown-list-rating {
  display: inline-block;
  position: relative;
  bottom: 4px;
  margin-left: 10px;
}
.price-blink-toolbar #toolbarCenter .coupon-list {
  height: 50px;
  padding-top: 0;
}
.price-blink-toolbar #toolbarCenter .coupon-item {
  height: auto;
  position: relative;
}
.price-blink-toolbar #toolbarCenter .coupon-text {
  margin-left: 10px;
  line-height: 21px;
}
.price-blink-toolbar #toolbarCenter .coupon-list-icon {
  color: #505050;
  font-size: 20px;
  position: relative;
  top: 2px;
  visibility: hidden;
}
.price-blink-toolbar #toolbarCenter .coupon-code {
  visibility: hidden;
  display: flex;
  height: 21px;
  padding: 3px 8px;
  position: relative;
  font-size: .8em;
  background: #fac100;
  color: white;
  border-radius: 2px;
  margin-left: 10px;
  white-space: nowrap;
}
.price-blink-toolbar #toolbarCenter .copy-code {
  font-size: 18px;
  cursor: pointer;
}
.price-blink-toolbar #compare-prices-current-offer {
  display: flex;
  padding: 20px 25px;
  justify-content: space-between;
  position: relative;
  box-shadow: 0px 1px 2px 1px #ccc;
  background-color: #fff;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}
.price-blink-toolbar #compare-prices-current-offer .row {
  display: flex;
  margin-bottom: 10px;
}
.price-blink-toolbar #compare-prices-current-offer .price-item {
  width: 60%;
  color: grey;
}
.price-blink-toolbar #compare-prices-current-offer .name {
  color: grey;
}
.price-blink-toolbar #compare-prices-current-offer .location {
  font-size: 13px;
}
.price-blink-toolbar #compare-prices-current-offer .prices {
  width: 230px;
}
.price-blink-toolbar #compare-prices-current-offer .total-price {
  display: flex;
  padding: 10px 0 0;
  border-top: 1px solid #e1e1e1;
}
.price-blink-toolbar #compare-prices-current-offer .total-price strong {
  color: #000;
}
.price-blink-toolbar #toolbarRight {
  height: 36px;
  display: flex;
  flex: 0 0 87px;
  justify-content: flex-end;
  background-color: #505050;
  z-index: 3;
}
.price-blink-toolbar #toolbarRight .toolbar-right-icon {
  padding: 5px 8px 4px;
  border-left: 1px solid #666;
  height: 100%;
  cursor: pointer;
  color: #fff;
}
.price-blink-toolbar #toolbarRight .toolbar-right-icon:hover {
  color: #f0edf1;
}
.price-blink-toolbar #toolbarRight #settingsDropdown {
  min-width: 360px;
  margin-top: 3px;
  color: #000;
}
.price-blink-toolbar #toolbarRight #settingsDropdown .dropdown-list-top-triangle {
  right: 6px;
}
.price-blink-toolbar #toolbarRight #settingsDropdown .dropdown-list-item {
  height: 50px;
  min-width: 0;
}
.price-blink-toolbar #toolbarRight #settingsDropdown .dropdown-list-item:last-child {
  border-radius: 0;
}
@media (max-width: 480px) {
  #message,
  #toolbarLeft,
  #toolbarRight {
    display: none !important;
  }
}
