/** All Sites **/
/** http://www.moosejaw.com/moosejaw/shop/home____: hide all iframes **/
#pb-iframe {
  display: block !important;
}

/* https://www.coupons.com/ */
body.priceblink-body.pb-retailer-coupons-com #header {
  position: static;
}
body.priceblink-body.pb-retailer-coupons-com #hero {
  margin-top: 0;
}

/* https://www.birchbox.com/ */
body.priceblink-body.pb-retailer-birchbox-com header.site-header {
  top: -116px !important;
}

/* http://www.urbanoutfitters.com/uk/index.jsp */
body.priceblink-body.pb-retailer-urbanoutfitters-com .miniFooter {
  position: static;
}

/* http://www.skiset.co.uk/ */
body.priceblink-body.pb-retailer-skiset-co-uk .navbar-fixed-top {
  position: static !important;
}
body.priceblink-body.pb-retailer-skiset-co-uk .wrapper {
  margin-top: 0 !important;
}


/* https://www.hertzcarsales.com/r2bhowitworks */
body.pb-retailer-hertzcarsales-com #aem-overlay-video {
  top: 100px !important;
}

/* https://www.evestemptation.com/ */
body.pb-retailer-evestemptation-com #egnewsletter_popup_box {
  top: 250px !important;
}

/* https://www.tracfone.com/serviceplan/basic */
body.pb-retailer-tracfone-com.modal-open .modal {
  display: flex !important;
  overflow-y: hidden !important;
}
body.pb-retailer-tracfone-com .modal-dialog {
  top: 100px !important;
  margin: 0 auto !important;
}

/* Click image to view original: https://www.carid.com/yakima/skybox-carbonite-roof-cargo-box.html?gclid=Cj0KEQjwg47KBRDk7LSu4LTD8eEBEiQAO4O6r1ecW0f1If-oAe2bl9AEFsqDqky7SHBMTwRywyVxJfMaAtQx8P8HAQ */
body.pb-retailer-carid-com .gbox_content_wrap {
  position: absolute !important;
  top: 220px !important;
  left: 0 !important;
}

/* Fix for sierra trading */
.viewport{
    margin-top:0px !important;
    top:0px !important;
}

/* apple.com */
body.pb-retailer-apple-com #ac-globalnav {
  margin-top: 36px !important;
}
/* go pro */
body.pb-retailer-shop-gopro-com div nav div#gpl-marketing-main-nav {
    top: 36px!important;
}
body.pb-retailer-shop-gopro-com div nav div#gpl-marketing-subnav-wrapper {
    top: 36px!important;
}
/* Raise.com */
body.pb-retailer-raise-com header.navbar-fixed-top{
    top: 36px!important;
}
/*Houzz */
body.pb-retailer-houzz-com div.hz-header__container{
    top: 36px!important;
}
/* kuhl.com */
body.pb-retailer-kuhl-com div.navbar div.navbar-container{
    margin-top:36px !important;
}
/* Jet */
body.pb-retailer-jet-com div[display='none,,block'] {
    margin-top: 36px !important;
}
/* walmart */
body.pb-retailer-walmart-com div#vh-header{
     top: 36px!important;
}
/* Skull Candy */
body.pb-retailer-skullcandy-com div.masthead-wrapper{
    margin-top: 36px !important;
}
/* G2A */
body.pb-retailer-g2a-com div.topbar-fixed{
    top: 36px!important;
}
/* Hotel Tonight*/
body.pb-retailer-hoteltonight-com  div#viewport div div div div div div header{
    top: 30px!important; 
}
/* airbnb */
body.pb-retailer-airbnb-com   div div div header{
    top: 36px!important; 
}
/*oakley*/
body.pb-retailer-oakley-com div#global-header-dropdown{
    top:36px!important;
}
/* Lenovo */
body.pb-retailer-lenovo-com div#msaMasthead div.o-mastheadModule div.o-mastheadModule__wrapper{
    top:36px!important;
}
body.pb-retailer-lenovo-com div.mainContent div.contentContainer{
    top:36px!important;
}
/* Bed Bath & Beyond */
body.pb-retailer-bedbathandbeyond-com div#app div div header.js-main-header{
    margin-top: 36px!important;
}
/* raise.com */
body.pb-retailer-raise-com div#root div nav {
    top: 36px!important;
}
/* iHerb.com*/
body.pb-retailer-iherb-com header div div div.universal-header{
    margin-top:36px!important;
}
